<!DOCTYPE html>
<html id="LeitherHtml">
<head id="LeitherHeader">
<script type="text/javascript">
function f(){
    var p, urls=[], ips=[]
    function getParam(){              
        return p
    }
    window["getParam"] = getParam;
    function setParam(param) {
        p = param
        initParam()
    }
    window["setParam"] = setParam;
    function initParam(){    
        // get public IPv4, or v6 if no v4
        var p=window.getParam()
        for (i=0; i< p.ips.length; i++){
            var ip = p.ips[i].split(":")
            if (ip.length < 3) {
                // IPv4 address, 1.172.121.64:4800
                var a = ip[0].split('.')
                if ( a[0]==10 || (a[0]==192 && a[1]==168) || (a[0]==172 && a[1>15 && a[1]<32])) {
                    // private IPv4 for sure
                    continue;
                } else {
                    // public IPv4
                    ips.push(i)         // p.CurNode = i;
                    urls.push(getUrl(p, i))
                }
            } else {
                // public IPv6, [2001:b011:e608:33c7:497d:480:498:45b8]:4800"
                // private, fe80::3509:974:e443:8b8c
                var a = p.ips[i].replace(/\[|\]/g,'').split(':');
                if (a.length < 8) {
                    // private IPv6
                    continue;
                } else {
                    // public IPv6
                    ips.push(i)
                    urls.push(getUrl(p, i))
                }
            }
        }
    };
    function getUrl(param, index) {
        var url ="http://"+ param["ips"][index] +"/entry?"
        if (param["aid"] != ""){
            url += "aid="+ param["aid"] + "&"
        }
        if (param["mid"] != ""){
            url += "mid="+ param["mid"] + "&"
        }
        if (param["ver"] != ""){
            url += "ver="+ param["ver"] + "&"
        }
        return url + "rand=" + Math.random()   
    };
    function requestEntry() {
        // get the first host IP that works
        Promise.any(urls.map((url, index) => {
            return new Promise((resolve, reject)=>{
                fetch(url, {CurNodeUrl:url, mode:'cors'}).then(resp=>{
                    if (!resp.ok) {
                        reject('HTTP error status: ' + url);
                    }
                    resolve([resp, ips[index]])
                }).catch(r=>{
                    reject(r)
                })
            })
        })).then((res)=>{
            p.CurNode = res[1]
            res[0].text().then(txt=>{
                var html = document.getElementById("LeitherHtml");          
                var reg = /<html\s*\S*>([\s|\S]*)<\/html>/ig;
                txt.replace(reg, function() {                 
                    html.innerHTML = arguments[1]
                });             
                var regsrc = /<script[^>]*>([\s|\S]*?)<\/script>/igm;    
                while ((result = regsrc.exec(txt))!= null){
                    var script = document.createElement("script");
                    script.textContent = result[1]
                    document.getElementsByTagName("head")[0].appendChild(script);
                }
            }).catch(r=>{
                console.error(r);
            })
        }).catch(r=>{
            console.error(r);
            document.getElementById("LeitherHtml").innerHTML = "<head><title>ErrInfo</title></head><body><p>No valid IP: " + p.ips +
                "</p></body>"
        })
    };
    window["requestEntry"] = requestEntry    
}
f()

window.setParam({
        CurNode:0,
        log: true,
        ver:"last",
        aid: "{{.AppID}}",
        remote:"{{.RemoteIP}}",
        mid:"{{.MID}}",
        ips: {{.IPS}}
})
window.requestEntry()
</script>
</head>
</html>
 